$white-shade: rgb(250, 250, 250);
$white-darker-shade: rgb(200, 200, 200);
$error: #f66;
$error-shade: #ffefef;

$bg: #fff;
$dark: #3a3335;
$primary: #5e7ce2;
$shade: #eef1fc;
$accent: #fdf0d5;

button {
    border: none;
    border-radius: 4px;
    padding: 8px 16px;

    display: flex;
    align-items: center;

    cursor: pointer;
    font-weight: 700;
    border: 1px solid transparent;

    svg {
        height: 18px;
        width: 18px;
        margin-right: 8px;
    }

    &.primary {
        color: #fff;
        background-color: $primary;
    }

    &.others {
        background-color: $error-shade;
        border-color: $error;
        color: $error;
    }

    &.secondary {
        color: #000;
        background-color: $shade;
        border-color: $primary;
    }
}

// aviod overwriting styling on login page
form.styled {
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: 18px;
        display: flex;
        flex-direction: column;

        text-transform: uppercase;
        font-weight: 600;

        input {
            // width: 200px;
            padding: 8px;
            margin-top: 6px;
            // border: 1px solid $white-darker-shade;
            border: none;
            background-color: #eee;

            border-radius: 4px;

            font-size: 14px;
        }

        input[type='checkbox'] {
            // margin-right: 110px;
            cursor: pointer;
            margin-top: 6px;
        }

        select {
            border: 1px solid $white-darker-shade;
            padding: 8px;
            margin-top: 6px;

            cursor: pointer;
        }
    }

    button {
        width: 100%;
        margin-top: 8px;
    }
}

// add-new-address => remove from this file when ready!
#addnewaddress {
    margin-top: 32px;

    .container {
        width: fit-content;
    }

    form {
        button {
            // default: set display of all buttons to none.
            display: none;
        }
    }
}

#updatedeleteaddress {
    margin-top: 32px;

    .container {
        width: fit-content;

        .buttons {
            display: flex;
            justify-content: space-between;

            & button {
                width: 45%;
            }
        }
    }
}

.error {
    color: $error;
}

body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fafafa;
}

.modal {
    background-color: $white-shade;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);

    border-radius: 8px;
    padding: 24px;
}

#login {
    width: 30vw;
    background-color: $bg;
    display: flex;

    padding-top: calc(35vh + 24px);
    position: relative;

    h1 {
        margin-top: 0;
        // background-color: $dark;
    }

    img {
        position: absolute;
        width: calc(30vw + 48px);
        height: 35vh;
        top: 0;
        left: 0;

        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}

#mapscreen {
    width: 60vw;
    display: flex;

    h1 {
        margin: 0;
    }

    .buttons {
        display: flex;
        justify-content: space-between;

        width: 60vw;
        padding: 16px 0 32px;

        button {
            width: 100%;
            margin: 0 4px;
        }
    }

    .flex-container {
        display: flex;
        justify-content: space-between;

        #map {
            flex-shrink: 0;
            width: 50vw;
            height: 50vh;
        }

        #contactlist {
            list-style: none;
            margin-left: 0;

            display: flex;
            flex-direction: column;

            margin-inline-start: 0;
            margin-block-start: 0;
            padding-inline-start: 0;

            width: calc(10vw - 32px);

            li {
                width: 100%;
                background-color: #fff;
                cursor: pointer;
                transition: 200ms;

                font-weight: 700;
                color: #888;

                padding: 6px 8px;
                margin: 2px 0;
                border: 1px solid transparent;
                border-radius: 4px;

                box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);

                &:first-child {
                    margin-top: 0;
                }

                &:hover {
                    color: #000;
                    background-color: $shade;
                    border-color: $primary;
                }
            }
        }
    }
}

#addnewaddress {
    .modal {
        width: 50vw;
    }

    .form-fields {
        display: flex;
        flex-direction: column;

        max-height: 50vh;
        flex-wrap: wrap;

        label {
            margin-right: 16px;
            margin-left: 16px;
        }
    }
}

#modal {
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1001;

    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);

    display: none;
    align-items: center;
    justify-content: center;

    #error {
        button {
            margin: 8px auto 0px;
        }
    }
}
