button {
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-weight: 700;
  border: 1px solid transparent;
}

button svg {
  height: 18px;
  width: 18px;
  margin-right: 8px;
}

button.primary {
  color: #fff;
  background-color: #5e7ce2;
}

button.others {
  background-color: #ffefef;
  border-color: #f66;
  color: #f66;
}

button.secondary {
  color: #000;
  background-color: #eef1fc;
  border-color: #5e7ce2;
}

form.styled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form.styled label {
  margin-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  font-weight: 600;
}

form.styled label input {
  padding: 8px;
  margin-top: 6px;
  border: none;
  background-color: #eee;
  border-radius: 4px;
  font-size: 14px;
}

form.styled label input[type='checkbox'] {
  cursor: pointer;
  margin-top: 6px;
}

form.styled label select {
  border: 1px solid #c8c8c8;
  padding: 8px;
  margin-top: 6px;
  cursor: pointer;
}

form.styled button {
  width: 100%;
  margin-top: 8px;
}

#addnewaddress {
  margin-top: 32px;
}

#addnewaddress .container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#addnewaddress form button {
  display: none;
}

#updatedeleteaddress {
  margin-top: 32px;
}

#updatedeleteaddress .container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#updatedeleteaddress .container .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#updatedeleteaddress .container .buttons button {
  width: 45%;
}

.error {
  color: #f66;
}

body {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fafafa;
}

.modal {
  background-color: #fafafa;
  -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 24px;
}

#login {
  width: 30vw;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: calc(35vh + 24px);
  position: relative;
}

#login h1 {
  margin-top: 0;
}

#login img {
  position: absolute;
  width: calc(30vw + 48px);
  height: 35vh;
  top: 0;
  left: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#mapscreen {
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#mapscreen h1 {
  margin: 0;
}

#mapscreen .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60vw;
  padding: 16px 0 32px;
}

#mapscreen .buttons button {
  width: 100%;
  margin: 0 4px;
}

#mapscreen .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#mapscreen .flex-container #map {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 50vw;
  height: 50vh;
}

#mapscreen .flex-container #contactlist {
  list-style: none;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  width: calc(10vw - 32px);
}

#mapscreen .flex-container #contactlist li {
  width: 100%;
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: 200ms;
  transition: 200ms;
  font-weight: 700;
  color: #888;
  padding: 6px 8px;
  margin: 2px 0;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}

#mapscreen .flex-container #contactlist li:first-child {
  margin-top: 0;
}

#mapscreen .flex-container #contactlist li:hover {
  color: #000;
  background-color: #eef1fc;
  border-color: #5e7ce2;
}

#addnewaddress .modal {
  width: 50vw;
}

#addnewaddress .form-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 50vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#addnewaddress .form-fields label {
  margin-right: 16px;
  margin-left: 16px;
}
/*# sourceMappingURL=main.css.map */